@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
:root{
    --orion-blue: #46cab4;
    --orion-orange: #fcd2a0;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    background-color:black;
    color: white;
    line-height: 1.6;
}

/* navigation styling */
.navigation{
    position: fixed;
    top:0; 
    display: flex;
    align-items: baseline;
    width: 100%;
    background: linear-gradient(180deg, rgba(0,0,0,0.6153054971988796) 0%, rgba(30,43,41,0) 85%);
    z-index: 1;
    padding: 1% 8% 0 8%;
}
.primary-nav{
    width: 100%;
    margin: 0;
}
.secondary-nav{
    width: 25%;   
}
.orion_logo{
    margin-right: 2%;
}
.orion_logo a{
    font-size: 1.2em;
    padding: 2%;
}
a#secondary-nav:hover{
    border-bottom:3px solid  var(--orion-blue);
}
a:hover{
    border-bottom:3px solid var(--orion-orange);
}
.orion_logo a:hover{
    color: var(--orion-blue);
    border: none;
}
nav li {
    display: inline;
    text-decoration: none;
    padding-left: 1% ;
}
a{
    text-decoration: none;
    color: white;
    padding: 1%;
}
.bigO{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5em;
}
