@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
:root{
    --orion-blue: #46cab4;
    --orion-orange: #fcd2a0;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    background-color:black;
    color: white;
}