.hero{
    width: 100%;
    height: 100vh;
}
.background-img{
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}
.rocket{
    position:absolute;
    width:30%;
    top:24%;
    right:30%;
    z-index: 1;
}
.next-page{
    block-size: 50em;
  
}