*{
    scroll-behavior: smooth;
    box-sizing: border-box;
}
.hero{
    position: relative;
    width: 100%;
    height: 100vh;
}
.background-img{
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}
.rocket{
    position:absolute;
    width:15%;
    top:40%;
    right:40%;
}
h1{
    position:absolute;
    left:3%;
    top:41%;
    font-size: 2.5em;
}
.navigation{
    position: fixed;
    top:0; 
    display: flex;
    align-items: baseline;
    width: 100%;
    background: linear-gradient(180deg, rgba(0,0,0,0.6153054971988796) 0%, rgba(30,43,41,0) 85%);
    z-index: 1;
    padding: 1% 8% 2% 8%;
}
.primary-nav{
    width: 100%;
    margin: 0;
}
.secondary-nav{
    width: 25%;   
}
.orion_logo{
    margin-right: 2%;
}
.orion_logo a{
    font-size: 1.2em;
    padding: 2%;
}
a#secondary-nav:hover{
    border-bottom:3px solid  var(--orion-blue);
}
a:hover{
    border-bottom:3px solid var(--orion-orange);
}
.orion_logo a:hover{
    color: var(--orion-blue);
    border: none;
}
nav li {
    display: inline;
    text-decoration: none;
    padding-left: 1% ;
}
a{
    text-decoration: none;
    color: white;
    padding: 1%;
}
.bigO{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5em;
}

.about{
    height: 300vh;
    display: flex;
}
.about-title{
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin: 0!important;
}
.about-title img{
    position: absolute;
    width:100%;
    height: 100vh;
    object-fit:cover;
    z-index: -1;
}
.about-pages{
    width:50%;
}
.about-pages div{
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.about-pages dix> p{
    width:80%;
    line-height: 30px;
}
.about-pages div:nth-child(1){
    padding: 10%;
    background-color: black;
}
.about-pages div:nth-child(2){
    color: white;
    
}
.about-pages div:nth-child(3){
    padding: 10%;
    background-color: black;
}
.about-pages div:nth-child(2) img{
    position: absolute;
    width:50%;
    height: 100vh;
    object-fit:cover;
    z-index: -1;
  
}

.last-page{
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.last-page p{
    position: absolute;
    text-align: center;
    font-size: 1.2em;
    font-weight: 600;
    color: white;
    width: 100%;
}
.last-page p a{
    border: 2px solid white;
    border-radius: 2%;
}
.last-page p a:hover{
    color: black;
    background-color: var(--orion-blue);
    border: 2px solid var(--orion-blue);
}
.space{
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    
}
.starman{
    position: absolute;
    width:5%;
    right:20%;
}