*{
    box-sizing: border-box;
}
.rocket{
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit:cover;
    z-index: -1;
}
.container{
    position: absolute;
    background: linear-gradient(145deg, rgba(79,111,106,1) 0%, rgba(30,43,41,1) 100%);
    width: 500px;
    height: 640px;
    left:33%;
    top:2% ;
    border-radius: 2%;
}
.logo{
    margin: 0;
    padding: 0;
    font-size: 2em;
    position: absolute;
    width: 40%;
    left:2%;
    top:2%;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: var(--orion-orange);
}
h2{
    position: relative;
    margin: 0;
    color: var(--orion-orange);
    left: 9%;
    top:2%;
    font-size: 2em;
}
.bigO{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    margin: 0;

}
.smallT{
    font-size:smaller;
}
.form-details{
    position:relative;
    left:10%;
    top:10%;
}

input[type=text], input[type=email]{
    background: none;
    width:60%;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid rgb(103, 143, 137);
    margin-bottom: 7%;
    color: white;
}
button[type=button] {
    position: absolute;
    background-color:rgb(103, 143, 137) ;
    border: none;
    color: white;
    width: 30%;
    height: 8%;
    cursor:pointer;
}
select{
    margin-bottom: 7%;
}
textarea{
    background: none;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid rgb(103, 143, 137);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 7%;
}
button[type=button]:hover{
    background-color: var(--orion-orange);
}


#displayForm{
    display: none;
    position: absolute;
    background: linear-gradient(145deg, rgba(79,111,106,1) 0%, rgba(30,43,41,1) 100%);
    width: 500px;
    height: 640px;
    left:33%;
    top:2% ;
    border-radius: 2%;
    padding-left: 1%;
}
#displayForm .buttons{
    position: absolute;
    bottom:10%;
    width: 50%;
    height: 10%;
    
    
    
}
#displayForm button[type=button]{
    position:relative;
    width: 40%;
    height: 40%;
}
#displayForm button[type=submit] {
    position: relative;
    background-color:rgb(103, 143, 137) ;
    border: none;
    color: white;
    width: 40%;
    height: 40%;
    cursor:pointer;
}
#displayForm button[type=submit]:hover{
    background-color: var(--orion-orange);
}