.rocket{
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit:cover;
    z-index: -1;
}
.container{
    position: absolute;
    background: linear-gradient(145deg, rgba(79,111,106,1) 0%, rgba(30,43,41,1) 100%);
    width: 500px;
    height: 640px;
    left:35%;
    top:2% ;
    border-radius: 2%;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: var(--orion-orange);
}
h1{
    font-size: 2em;
    position: relative;
    margin: 0;
    left:10%;
    top:2%;
}
.bigO{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;

}
.smallT{
    font-size:smaller;
}
form{
    position: relative;
    left:10%;
    top: 15%;
}
input[type=text], input[type=email]{
    background: none;
    width:60%;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid rgb(103, 143, 137);
    margin-bottom: 7%;
    color: white;
}
input[type=submit] {
    position: absolute;
    background-color:rgb(103, 143, 137) ;
    border: none;
    color: white;
    width: 30%;
    height: 8%;
    cursor:pointer;
}
select{
    margin-bottom: 7%;
}
textarea{
    background: none;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid rgb(103, 143, 137);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 7%;
}
input[type=submit]:hover{
    background-color: rgb(100, 138, 131);
}