*{
    scroll-behavior:smooth;
    box-sizing: border-box;
}
.hero{
    position: relative;
    block-size: 50em;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#video-pos{
    position: absolute;
    top:47%;
    width: 60%;
    height: 60%;
    z-index: -2;
}
#main-site{
    background-color: black;
}
.side-nav{
    position: fixed;
    width: 10%;
    right: 0;
    z-index: 2;
}
.side-nav nav a{
    display: block;
}
.side-nav nav a:hover{
    border: none;
    color: var(--orion-blue);
    
}
.side-nav nav a:active{
    color: var(--orion-blue);
}

h1{
    z-index:-1;
}

.hero h1{
    font-size: 4rem;
}
.tours-h1{
    font-style: normal;
    font-size: 3.2rem;
}
.about{
    position: relative;
    height: 100vh;
    padding: 7em 7em 0 8em;
}
.text-info{ 
    float: left;
    width: 30vw;
}
.creator-button{
    position: absolute;
    bottom: 50%;
    border: 2px solid white;
    border-radius: 5px;
    padding: 1.1em;
}
a.creator-button:hover{
    color: black;
    border: 2px solid var(--orion-blue);
    background-color: var(--orion-blue);
}

.planet-circle{
    margin: 2em;
    position:absolute;
    right:7%;
    background: linear-gradient(150deg, rgba(153,255,237,1) 0%, rgba(48,136,121,1) 37%, rgba(13,49,69,1) 60%, rgba(0,0,0,1) 82%);
    border-radius: 50%;
    width: 20rem;
    height: 20rem;
}
.quiz{
    position: relative;
    height: 60vh;
    width: 100%;
}
.quiz img{
    position: absolute;
    z-index: -1;
    width: 80%;
    height: 100%;
    object-fit: cover;
}
.quiz div{
    position: absolute;
    right: 15%;
    top: 20%;
}
.quiz a{
    position: absolute;
    right: 41%;
    bottom: 18%;

}
.last-page{
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.last-page img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.last-page h2{
    font-size: 1.5em;
    font-weight: 600;
    bottom: 10%;
}
.tc{
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    bottom: 30%;
}
.tc li a{
    text-decoration:underline;
}
svg{
    fill: white;
}
.last-page a:hover{
    border: none;
}
.bottom { 
    position: absolute;
    left: 50%;
    bottom: 0%;
}