*{
    scroll-behavior:smooth;
}
body{
    color: white;
}
.hero{
    block-size: 50em;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#video-pos{
    position: absolute;
    top:47%;
    width: 60%;
    height: 60%;
    z-index: -2;
}
h1{
    z-index:-1;
}
.navigation{
    position: fixed;
    padding: 1em 0 0.5em 0;
    top: 0;
    width: 100%;
    background-color: black;
    float: left;
}
.primary-nav{
    position: relative;
    width: 60%;
    left: 9%;
    float: left;

}
.secondary-nav{
    position: relative;
    float: right;
    right: 10%;  
}
a.orion_logo{
    position: relative;
    font-size: 1.1rem;
    padding: 1%;
    left: 10%;
    float: left;
}
a#secondary-nav:hover{
    color:  var(--orion-blue);
}
a:hover{
    color: var(--orion-orange);
}
a:active{
    color: var(--orion-blue);
}
a#secondary-nav:active{
    color: var(--orion-orange);
}

nav li {
    display: inline;
    text-decoration: none;
    padding-left: 1% ;
}
.hero h1{
    font-size: 4rem;
}
.tours-h1{
    font-style: normal;
    font-size: 3.2rem;
}
a{
    text-decoration: none;
    color: white;
    padding: 1%;
}


.bigO{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5em;
}
.about{
    block-size: 25em;
    padding: 7em 7em 0 8em;
    background-color: black;
}
.text-info{ 
    float: left;
    width: 30vw;
}
.planet-circle{
    margin: 2em;
    float: right;
    background: linear-gradient(150deg, rgba(153,255,237,1) 0%, rgba(48,136,121,1) 37%, rgba(13,49,69,1) 60%, rgba(0,0,0,1) 82%);
    border-radius: 50%;
    width: 20em;
    height: 20em;
}
.last-page{
    block-size: 25em;
    padding: 10%;
}
.last-page h1 {
    float:right;
}
.planet-circle-two{
    margin: 2em;
    float: left;
    background: linear-gradient(225deg, rgba(255,226,191,1) 0%, rgba(255,174,74,1) 19%, rgba(0,0,0,1) 54%);
    border-radius: 50%;
    width: 20em;
    height: 20em;
}


