*{
    scroll-behavior:smooth;
    box-sizing: border-box;
}
.hero{
    block-size: 50em;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#video-pos{
    position: absolute;
    top:47%;
    width: 60%;
    height: 60%;
    z-index: -2;
}
#main-site{
    background-color: black;
}
.side-nav{
    position: fixed;
    width: 10%;
    right: 0;
    z-index: 2;
}
.side-nav nav a{
    display: block;
}
.side-nav nav a:hover{
    border: none;
    color: var(--orion-blue);
    
}
.side-nav nav a:active{
    color: var(--orion-blue);
}

h1{
    z-index:-1;
}

.hero h1{
    font-size: 4rem;
}
.tours-h1{
    font-style: normal;
    font-size: 3.2rem;
}

.about{
    height: 70vh;
    padding: 7em 7em 0 8em;
    background-color: black;
}
.text-info{ 
    float: left;
    width: 30vw;
}
.planet-circle{
    margin: 2em;
    float: right;
    background: linear-gradient(150deg, rgba(153,255,237,1) 0%, rgba(48,136,121,1) 37%, rgba(13,49,69,1) 60%, rgba(0,0,0,1) 82%);
    border-radius: 50%;
    width: 20em;
    height: 20em;
}

.last-page{
    position: relative;
    width: 100%;
    height: 20vh;
    margin: 0;
    padding: 0;
}
.last-page img{
    width: 100%;
    object-fit: cover;
    z-index: -1;
}
.last-page h2{
    position: relative;
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
    bottom: 320%;
}
.tc{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -320%;

}
.tc li a{
    text-decoration:underline;
}
svg{
    fill: white;
}
.creator-button{
    position: absolute;
    bottom: -400px;
    border: 2px solid white;
    padding: 1.1em;
}
a.creator-button:hover{
    color: black;
    background-color: white;
}
a.creator-button:active{
    color: white;
    background-color: black;
}
.last-page a:hover{
    border: none;
}
.bottom { 
    position: absolute;
    left: 50%;
    bottom: -500%;
    
    
  
}